// COLORS

$blue-text-active: #0282f9; 
$blue-bg: #0282f9; 
$grey-icons-bg: #797979; 
$grey-text-footer: #959595; 
$blue-follow-us: #0282f9; 
$grey-footer-bg: #303030; 

// FONTS

$f-smallest: 10px;
$f-smaller: 12px;
$f-small: 14px;